/* css/components/sidebars.css o tu archivo de estilos principal */

body {
    min-height: 100vh;
}

.sidebar-custom {
    position: fixed;   /* Cambiado a 'fixed' */
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;       /* Ancho fijo es crucial */
    z-index: 1000;

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: #f8f9fa;
}

.main-content-wrapper {
    margin-left: 80px;
}

.sidebar-custom .nav-link {
    color: #0d6efd;
    border-radius: 0;
}

.sidebar-custom .nav-link.active {
    background-color: #0d6efd;
    color: #fff;
}

.sidebar-custom .nav-link:hover:not(.active) {
    background-color: #eef5ff;
}

.sidebar-custom .logo-link {
    padding: 1rem;
    margin-bottom: 1rem;
}

.sidebar-custom .logo-link svg {
    width: 40px;
    height: 32px;
    color: #fff;
    background-color: #ffffff;
    border-radius: .5rem;
    padding: 4px;
}

.sidebar-custom .dropdown-toggle::after {
    display: none;
}