{% extends 'components/base.html' %}

{% load static %}

{% block title %}Login - ProblematicProblems{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/users/login.css' %}">
{% endblock %}

{% block content %}
    <div class="header-placeholder, title">
        <h2>ProblematicProblems</h2>
    </div>

    <div class="c-c-login">
        <div class="container d-flex justify-content-center align-items-center ">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">
                        Welcome
                    </h3>
                    
                    <!-- Login Form -->
                    <form id="loginForm">
                        <!-- Email Address Input Group -->
                        <div class="mb-3">
                            <label for="emailInput" class="form-label">Email address</label>
                            <div class="input-group">
                                <span class="input-group-text" id="email-addon"><i class="bi bi-envelope-fill"></i></span>
                                <input type="email" class="form-control" id="emailInput" placeholder="name@example.com" aria-label="Email Address" aria-describedby="email-addon" required>
                            </div>
                        </div>
                        
                        <!-- Password Input Group -->
                        <div class="mb-3">
                            <label for="passwordInput" class="form-label">Password</label>
                            <div class="input-group">
                                <span class="input-group-text" id="password-addon"><i class="bi bi-lock-fill"></i></span>
                                <input type="password" class="form-control" id="passwordInput" placeholder="Enter your password" aria-label="Password" aria-describedby="password-addon" required>
                            </div>
                        </div>
                        
                        <!-- Remember Me & Forgot Password -->
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="rememberMeCheck">
                                <label class="form-check-label" for="rememberMeCheck">
                                    Remember me
                                </label>
                            </div>
                            <a href="#" class="form-text text-decoration-none">Forgot password?</a>
                        </div>
                        
                        <!-- Submit Button -->
                        <button type="submit" class="btn btn-danger w-100 btn-lg">
                            <span class="spinner-border spinner-border-sm d-none me-2" role="status" aria-hidden="true"></span>
                            Login
                        </button>
                        <br>
                        <br>
                        <!-- Social Login Buttons -->
                        <a class="btn w-100 mb-2 text-white" style="background-color: #dd4b39;" href="#!" role="button">
                            <i class="bi bi-google me-2"></i>Continue with Google
                        </a>
                        <a class="btn w-100 text-white" style="background-color: #333;" href="#!" role="button">
                            <i class="bi bi-github me-2"></i>Continue with Github
                        </a>
                    </form>
                    
                    <!-- Sign Up Link -->
                    <p class="text-center mt-4">
                        Don't have an account? <a href="{% url 'create_user' %}" class="text-decoration-none text-black">Sign up</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/users/login.js' %}"></script>
{% endblock %}